@model MyBlog.Models.Category
@{
    ViewData["Title"] = "Chi tiết danh mục";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Categories" asp-action="Index">Danh sách danh mục</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thông tin danh mục</li>
    </ol>
    <h6 class="slim-pagetitle">Thông tin danh mục</h6>
</div><!-- slim-pageheader -->
<div class="section-wrapper mg-t-20">
    <div class="form-layout form-layout-7">
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                ID:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input asp-for="CatId" class="form-control" type="text">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Tên Danh Mục:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input asp-for="CatName" class="form-control" type="text">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Tiêu đề:
            </div><! -- col-4 -->
            <div class="col-7 col-sm-8">
                <input asp-for="Title" class="form-control" type="text">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                alias:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input asp-for="Alias" class="form-control" type="text">
            </div> <!--col-8 -->
        </div> <!--row-->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                MetaDesc:
            </div> <!--col-4-->

            <div class="col-7 col-sm-8">
                <input asp-for="MetaDesc" class="form-control" type="text">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Metakey:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input asp-for="MetaKey" class="form-control" type="text">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Trạng thái:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                @if (Model.Published == true)
                {
                    <span class="badge badge-primary">Public</span>
                }
                else
                {
                    <span class="badge badge-primary">NON-Public</span>
                }
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Ordering:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input asp-for="Ordering" class="form-control" type="text">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Parents:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input asp-for="Parents" class="form-control" type="text">
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Levels:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input asp-for="Levels" class="form-control" type="text">
            </div><!-- col-8 -->
        </div> <!--row-->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Icon:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                @if (!string.IsNullOrEmpty(Model.Icon))
                {
                    <img width="80" height="80" src="~/images/icons/@Model.Icon" alt="@Model.CatName" />
                }
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Cover:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                @if (!string.IsNullOrEmpty(Model.Cover))
                {
                    <img width="80" height="80" src="~/images/covers/@Model.Cover" alt="@Model.CatName" />
                }
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Thumb:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                @if (!string.IsNullOrEmpty(Model.Thumb))
                {
                    <img width="80" height="80" src="~/images/categories/@Model.Thumb" alt="@Model.CatName" />
                }
            </div><!-- col-8 -->
        </div><!-- row -->
        <div class="row no-gutters">
            <div class="col-5 col-sm-4">
                Description:
            </div><!-- col-4 -->
            <div class="col-7 col-sm-8">
                <input asp-for="Description" class="form-control" type="text">
            </div><!-- col-8 -->
        </div><!-- row -->
    </div><!-- form-layout -->
    <div style="text-align:center !important" class="form-layout-footer mg-t-30">
        <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="btn btn-success bd-0">Xem lại danh sách</a>
        <a asp-area="Admin" asp-controller="Categories" asp-action="Edit" asp-route-id="@Model.CatId" class="btn btn-primary bd-0">Chỉnh sửa</a>
    </div>
</div>















