<!--sidebar-->
<div class="sidebar">
    <!--widget about-->
    <div class="widget rounded">
        <div class="widget-about data-bg-image text-center" data-bg-image="~/images/map-bg.png">
            <img src="~/images/logo.svg" alt="logo" class="mb-4" />
            <p class="mb-4">Hello, We're content writer who is fascinated by content fashion, celebrity and lifestyle. We helps</p>
            <ul class="social-icons list-unstyled list-inline mb-0">
                <li class="list-inline-item"> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fab fa-twitter"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fab fa-instagram"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fab fa-pinterest"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fab fa-medium"></i></a></li>
                <li class="list-inline-item"> <a href="#"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
    </div>
    <!--widget popular posts-->
    @await Component.InvokeAsync("Popular")

    <!--widget categories-->
    <div class="widget rounded">
        <div class="widget-header text-center">
            <h3 class="widget-title">Explore Topics</h3>
            <img src="~/images/wave.svg" class="wave" alt="wave" />
        </div>
        @await Component.InvokeAsync("Categories")
    </div>

    <!-- widget advertisement-->
    <div class="widget no-container rounded text-md-center">
        <span class="ads-title">- Sponsored Ad -</span>
        <a href-"#" class="widget-ads">
            <img src="~/images/ads/ad-360.png" alt="Advertisement" />
        </a>
    </div>
    <!-- widget tags-->
    <div class="widget rounded">
        <div class="widget-header text-center">
            <h3 class="widget-title">Tag Clouds</h3>
            <img src="~/images/wave.svg" class="wave" alt="wave" />
        </div>
        <div class="widget-content">
            <a href="#" class="tag">#Trending</a>
            <a href="#" class="tag">#Video</a>
            <a href="#" class="tag">#Featured</a>
            <a href="#" class="tag">#Gallery</a>
            <a href="#" class="tag">#Celebrities</a>
        </div>
    </div>


</div>

