@model MyBlog.Areas.Admin.Models.ChangePasswordViewModel

@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Thay đổi mật khẩu</li>
    </ol>
    <h6 class="slim-pagetitle">THAY ĐỔI MẬT KHẨU</h6>
</div><!--slim-pageheader-->
<hr />

<form asp-area="Admin" asp-controller="Accounts" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @* <input type="hidden" asp-for="AccountId" />*@
    <div class="section-wrapper">
        <div class="form-group">
            <input asp-for="PasswordNow" class="form-control" placeholder="Mật khẩu hiện tại" type="password">
            <span asp-validation-for="PasswordNow" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Password" class="form-control" placeholder="Mật khẩu mới" type="password">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu mới" type="password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-layout-footer">
            <button class="btn btn-primary bd-0" type="submit">Lưu thay đổi</button>
            <button class="btn btn-secondary bd-0" a asp-area="Admin" asp-controller="Home" asp-action="Index">Thoát</button>
        </div><!-- form-layout-footer -->
    </div>
</form>



