@model List<Category>
@if (Model != null)
{
    <div class="widget-content">
        <ul class="list">
            @foreach (var item in Model)
            {
                <li><a href="/@item.Alias">@item.CatName</a></li>
            }
        </ul>
    </div>
}