@model MyBlog.Models.Role
@{
    ViewData["Title"] = "Tạo mới quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Trang chủ</a></li>
        <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Roles" asp-action="Index">Quản lý quyền truy cập</a></li>
        <li class="breadcrumb-item active" aria-current="page">Tạo mới quyền truy cập</li>
    </ol>
    <h6 class="slim-pagetitle">Tạo mới quyền truy cập</h6>
</div><!-- slim-pageheader -->

<div class="section-wrapper">
    <form asp-area="Admin" asp-controller="Roles" asp-action="Create" method="post">
        <div class="form-layout">
            <div class="row mg-b-25">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Role Name: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="RoleName">
                    </div>
                </div><!-- col-4 -->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-control-label">Role Description: <span class="tx-danger">*</span></label>
                        <input class="form-control" type="text" asp-for="RoleDescription">
                    </div>
                </div><!-- col-4 -->
            </div><!-- row -->

            <div style="text-align:center !important" class="form-layout-footer">
                <button class="btn btn-primary bd-0">Lưu thay đổi</button>
                <button class="btn btn-secondary bd-0" asp-area="Admin" asp-controller="Roles" asp-action="Index">Thoát</button>
            </div><!-- form-layout-footer -->
        </div><!-- form-layout -->
    </form>
</div><!-- section-wrapper -->